body {
  font-family: sans-serif;
  height: 100vh;
}

.contenedor-box {
  width: 400px;
  height: 430px;
  background-color: black;
  color: #fff;
  top: 30%;
  position: absolute;
  left: 36%;
  transform: translate(-50, -50);
  box-sizing: border-box;
  padding: 70px 30px;
  overflow-y: scroll;
}

.aw {
  color: #0077cc;
}

.buttone {
  width: 102%;
  height: 30px;
  background-color: #4caf50;
  color: white;
  border: 2px solid #4caf50;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.usuarios {
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  outline: none;
  background-color: black;
  color: white;
  margin-top: 15px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.huno {
  text-align: center;
  padding: 0;

  display: block;
  position: relative;
}

label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.contenedor-box input {
  width: 100%;
  margin-bottom: 20px;
}
.usuarios {
  box-decoration-break: initial;
  color: #0077cc;

  text-decoration: none;
  height: 20px;
}
